@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body {
    background-color: #161616;
    color: #FFFFFF;
    font-family: Kalam;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}

.title {
    padding-top: 64px;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.search {
    padding-top: 32px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
  
.search-bar {
    background-color: transparent;
    width: 50%;
    border: 2px solid #AE431E;
    padding: 5px;
    height: 20px;
    border-radius: 3px;
    outline: none;
    color: #FFFFFF;
}

.search-icon {
    position: relative;
    right: 35px;
    color: #AE431E;
    position: relative;
}


button {
    font-family: Kalam;
    background: transparent;
    outline: 2px solid #AE431E;
    border: 0px;
    border-radius: 3px;
    padding: 3px 24px;
    font-size: 18px;
}

.navegation {
    position: relative;
    right: 20px;
    padding-top: 64px;
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.populares {
    padding-top: 192px;
}

hr {
    margin-top: 32px;
    border: 1px solid;
    border-color: #AE431E;
}

.favorites img {
    border: 1px solid #FFFFFF;
    height: 256px;
    width: 256px;
}

.pizza, .nachos, .hamburguer {
    padding-top: 64px;
}

.favorites {
    padding-top: 32px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    text-align: center;
    justify-content: center;
    padding-bottom: 32px;
}
